        {% include './partials/head.html' %}
        {% include './partials/navbar.html' %}

        <h1>MENU <kbd>Blue Line Pizza</kbd></h1>
        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Is a Drink?</th>
                <th scope="col">Cost</th>
                <th scope="col">Added To Menu On</th>
                </tr>
            </thead>
            <tbody>
                {% for emp in menu %}
                    <tr>
                        <th scope="row">{{emp['item_name']}}</th>
                        <th scope="row">{{emp['description']}}</th>
                        <th scope="row">
                                {% if emp['Is_beverage'] > 0 %}
                                        Yes
                                {% else %}
                                        No
                                {% endif %}
                        </th>
                        <th scope="row">${{emp['cost']}}</th>
                        <th scope="row">{{emp['Timestamp']}}</th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% include './partials/foot.html' %}