        {% include './partials/head.html' %}
        {% include './partials/navbar.html' %}

        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">Order #</th>
                <th scope="col">Cashier Name</th>
                <th scope="col">Cost</th>
                <th scope="col">Completed</th>
                </tr>
            </thead>
            <tbody>
                {% for ord in orders %}
                    <tr>
                        <th scope="row">{{ord['receipt']}}</th>
                        <th scope="row">{{ord['cashier_name']}}</th>
                        <th scope="row">${{ord['total_cost']}}</th>
                        <th scope="row">
                        {% if ord['completed'] > 0 %}
                               <form role="form" action="/incomplete_order" method="post" id="form-{{ord['order_number']}}">
                                <input type="hidden" name="receipt" value="{{ord['receipt']}}">
                             </form>
                             <kbd>Completed</kbd><button style="margin-left: 1em;" class="btn btn-danger" type="submit" form="form-{{ord['order_number']}}" value="Submit">re-open</button>
                        {% else %}
                             <form role="form" action="/complete_order" method="post" id="form-{{ord['order_number']}}">
                                <input type="hidden" name="receipt" value="{{ord['receipt']}}">
                             </form>
                             <kbd>IN PROGRESS</kbd><button style="margin-left: 1em;" class="btn btn-success" type="submit" form="form-{{ord['order_number']}}" value="Submit">Complete</button>
                        {% endif %}
                        </th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% include './partials/foot.html' %}